*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
ul, li, ol{
    margin: 0;
    padding: 0;
    list-style-type: none;
}   
.container{
    max-width: 1440px;
    margin: 0 auto;
}
body._lock{
    overflow: hidden;
}
/* BUTTON */
button{
    border: none;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    color: #FFFFFF;
    cursor: pointer;
}
button:hover{
    transition: 1s linear;
    background: #FFFFFF;
    color: #0D606F;

}
/* BUTTON */



/* header */


.header{
    position: fixed;
    margin: 0 auto;
    width: 100%;
    z-index: 5;
}
.header__burger{
    display: none;
}
.header__list{
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 90px;
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}

.header-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.logo-text{
    font-family: 'Magra';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
}

.header-links{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.header-link a{
    text-decoration: none;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    transition: .2s;
}

.header-link-5,
.header-link-6{
    display: none;
}
.btn_login{
    width: 103px;
    height: 41px;
}

.header__burger{
    display: none;
}

/* header */




/* preview */
.preview__content{
    width: 100%;
    display: flex;
    flex-direction: column;
    background: url(../image/bg.jpg) no-repeat center;
}

.preview-titel,
.preview-subtitel,
.preview-search {
    max-width: 892px;
    margin-left: 120px;

    
}

.preview-titel{
    margin-top: 122px ;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 53px;
    line-height: 96px;
    color: #FFFFFF;
}
.preview-subtitel{
    margin-top: 30px;
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
.preview-search {
    margin-top: 46px;
    margin-bottom: 254px;
}

.preview-search-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 892px;
    height: 95px; 
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
}
.search-form__field{
    border: transparent;
    width: 70%;
    background: transparent;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F2785C;
    padding-left: 40px;
}
.search-form__field::placeholder{
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F2785C;
}
input:focus {
    outline: none;
}

.search-form__btn{
    margin-right: 18px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    width: 228px;
    height: 59px;
}
/* preview */


/* steps */
.steps__content{
    margin-top: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
h2{
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
}
.frame__list{
    min-width: 1177px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.frame_item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.frame-subtitel{
    margin-top: 25px;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
}
.frame_item:nth-child(2){
    padding-left: 70px;
}
/* steps */

/* destinations */

.destinations__content{
    min-width: 0;
    margin-top: 97px;
    
}

.destinations__content h2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider390{
    display: none;
    
}
.slider{
    gap: 10px;
    margin-top: 46px;
}
.slider__item{
    transition: all 0.3s ease 0s;
    opacity: 0.4;
}
.slider__item p{
    position: absolute;
    z-index: 5;
    bottom: 40px;
    margin-left: 15px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    color: #FFFFFF;
}
.slider390__item p{
    position: absolute;
    z-index: 5;
    margin-left: 15px;
    top: 8px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
}

.button_destinations{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn_destinations{
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: row;
    margin-top: 40px;
    width: 228px;
    height: 59px;
}
.btn_destinations:hover img{
    fill: #0D606F;
}
/* destinations */

/* stories */

.stories{
    margin-top: 80px;
    text-align: center;
}

.stories__content{
    margin-top: 40px;
    background: url(../image/bg_stories.jpg) no-repeat center;
}
.stories__bg{
    padding: 40px 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
}

.stories__list{
    max-width: 1200px;
    margin-left: 120px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.stories_item{
    display: flex;
    flex-direction: row;
    gap: 40px;

}
.stories_img{
    width: 33.33333%;
    height: 250px;
    filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 16px;
}

.stories_img_1{
    background: url(../image/card_stories_1.jpg) no-repeat center;
}

.stories_img_2{
    background: url(../image/card_stories_2.jpg) no-repeat center;
}

.stories_img_3{
    background: url(../image/card_stories_3.jpg) no-repeat center;
}

.stories_img_4{
    background: url(../image/card_stories_4.jpg) no-repeat center;
}

.stories_text{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}
.stories_titel{
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #0D606F;

}

.stories_subtitel{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
}
.stories_button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn__stories{
    
    margin-top: 40px;
}

.textmore{
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
    text-decoration: none;
    transition: 3s ease;
}
.textmore a{
    text-decoration: none;
}

.textmore:hover{
    
    text-decoration-line: underline;

}

/* stories */

/* footer */

.footer{
    
    background: url(../image/bg.jpg) no-repeat center;
    
}

.footer_list{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    justify-content: space-around
}
.footer_item p{
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}
.contacts{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.contacts img{
    width: 30px;
}
.contacts:nth-child(2) img{
    width: 70px;
    filter: invert(1);
}
.social{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

footer a:hover{
    transition: 0.3s linear;
    filter: invert(1);
}

/* footer */




