@media (max-width: 390px){
    .container{
        max-width: 390px;
    }


    /* header */


    .header{
        position: absolute;

    }
    .header-logo{
        margin-left: 15px;
        margin-top: 30px;
    }
    .header-nav,
    .btn_login,
    .logo-text{
        display: none;
    }
    
    .header__list{
        padding: 0;
        justify-content: start;
        background: transparent;
        box-shadow: none;
    }
    .header__burger{
        z-index: 5;
        position: relative;
        display: block;
        cursor: pointer;
        width: 35px;
        height: 25px;
        margin-top: 20px;
        margin-left: 290px;
        background: url(/Travel/image/icon_burger.svg);
        transition: ease 0.3s ease 0s;

    }      

    .header__burger._active{
        z-index: 5;
        position: relative;
        display: block;
        cursor: pointer;
        width: 35px;
        height: 25px;
        margin-top: -20px;
        margin-left: 185px;
        background: url(/Travel/image/icon_xros.svg);
        transform: scale(1) translate(0px, -50%);
    }
    /* .header__burger span,
    .header__burger::before,
    .header__burger::after{
        left: 0;
        position: absolute;
        height: 3px;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #fff;
    }
    .header__burger::before,
    .header__burger::after{
        content: "";
    }
    .header__burger::before{top: 0;}
    .header__burger::after{bottom: 0;}

    .header__burger span{
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    } */
 
    
    /*.header__burger._active::before{
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .header__burger._active::after{
        top: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    } */
    .header-nav{
        display: block;
        position: fixed;
        top: 0;
        right: -200px;
    
        width: 165px;
        height: 250px;
        background: #F2785C;
        box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25);
        border-radius: 10px;
        transform: translate(-100%; 0px);
        padding-right: 15px;
        transition: right 0.3s ease 0s;
    }
    .header-nav._active{
        right: 0;
        transform: translate(0px; 0px);

    }

    .header-nav > ul{
        margin-top: 44px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-end;
        font-family: 'Red Hat Text';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        color: #FFFFFF;

    }
    .header-link-5,
    .header-link-6{
    display: block;
}
    
    /* header */

    /* preview */

    .preview__content{
        width: 100%;
        display: flex;
        flex-direction: column;
        background: url(/Travel/image/bg-mobile.jpg) no-repeat center;
    }
    .preview-titel,
    .preview-subtitel{
    display: none; 
    }
    .preview-search {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 143px;
        margin-bottom: 60px;
    }
    .preview-search-content{
        max-width: 360px;
        height: 48px; 
    }
    .search-form__field{
        width: 60%;
        padding-left: 16.5px;
    }
    .search-form__field::placeholder{
        font-size: 14px;
        line-height: 17px;
    }
    .search-form__btn{
        margin-right: 9px;
        width: 92px;
        height: 30px;
        font-size: 11px;
        line-height: 15px;
    }
/* preview */

/* steps */
    .steps__content{
        margin-top: 15px;
    }
    h2{
        font-size: 14px;
        line-height: 19px;
    }
    .frame__list{
        min-width: 360px;
        margin-top: 20px;
    }
    .frame-titel img{
        height: 70px;
    }
    .frame-subtitel{
        text-align: center;
        margin-top: 20px;
        font-size: 10px;
        line-height: 12px;
    }
    .frame_item:nth-child(2){
        padding-left: 0;
    }
    .frame_item{
        flex: 1 1 33.33%;
        overflow: hidden;
    }
/* steps */

/* destinations */
    .slider{
        display: none;
    }
    .slider390{
        margin-top: 20px;
        display: block;
        position: relative;
    }
    .slider390 img{
    border-radius: 16px;
    }
    .destinations__content{
        margin-top: 22px;
    }

    .dots{
        gap: 6px;
    }
    .dots_item{
        
        width: 8px;
        height: 8px;
        
    }
    .btn_destinations{
        font-size: 11px;
        line-height: 15px;
        margin-top: 10px;
        width: 92px;
        height: 30px;
    }

    .btn_destinations img{
        width: 5px;
    }
/* destinations */




/* stories */
    .stories{
        margin-top: 20px;
    }
    .stories__content{
        margin-top: 10px;
        background: url(/Travel/image/bg_stories_mobile.jpg) no-repeat center;
    }
    .stories__bg{
        padding-top: 10px;
        padding-bottom: 13px;
    }
    .stories__list{
        max-width: 390px;
        margin-left: 15px;
        gap: 15px;
    }

    .stories_item{
        gap: 10px;
    }
    
    .stories_img{
        background-size: cover;
        width: 45%;
        height: 130px;
    }

    .stories_text{
        padding-top: 5px;
        width: 61%;
        gap: 10px;
    }
    .stories_titel{
        font-weight: 700;
        font-size: 11px;
        line-height: 13px;
    }
    
    .stories_subtitel{
        max-width: 200px;
        height: 100px;
        font-weight: 400;
        font-size: 9px;
        line-height: 11px;
    }
    .stories_subtitel p{
        overflow: hidden;
    }

/* stories */


/* footer */

.footer_item:nth-child(1),
.footer_item:nth-child(2){
    display: none;
}
.footer_list{
    height: 65px;
}
/* footer */

}
