*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

:root {

}

html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    max-width: 1440;
    font-family: 'aleo';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #FFFFFF;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}

.btn{
    cursor: pointer;
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
}

/* header style start */
.header__container{
    position: fixed;
    z-index: 5;
    min-width: 1440px;
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    /* padding-left: 120px; */
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.header__logo{
    /* width: 216px; */
}

.logo_text{
    /* margin-left: 6px; */
}

.header__nav{
    /* margin-left: 158px; */
}
.header__logo-link{
    display: flex;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Magra';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
}
.header__list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    color: #ffffff;
    
}
.header__item{
    /* margin-right: 42px; */
}
.header__item:last-child{
    /* margin-right: 198px; */
}
.btn__login{
    color: #FFFFFF;     
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    width: 103px;
    height: 41px;
    left: 1217px;
    top: 25px;
}
/* header style end */

/* preview  style start */
.preview{
    background: url(../image/bg.jpg) no-repeat center;
    
}

.preview_container{
    /* padding-top: 120px;
    margin-left: 120px; */
}
.preview__titel{
    max-width: 892px;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    color: #FFFFFF;
    
}
.preview__subtitel{
    /* margin-top: 30px; */
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    
}

.search-form{
    /* margin-top: 46px;
    padding-bottom: 279px; */
}
.search-form__info{
    display: flex;
    flex-wrap: wrap;
}

.search-form__info{
   
    
}

.search-form__field{
    /* padding-left: 41px; */
    width: 892px;
    height: 95px;
    left: 120px;
    top: 416px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    border: 0;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F2785C;

}

.search-form__field::placeholder{
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F2785C;
}

.search-form__btn{
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    /* margin-left: -246px; */
    /* margin-top: 18px; */
    width: 228px;
    height: 59px;
    left: 766px;
    top: 434px;
}

input:focus {
    outline: none;
}
/* preview  style end */

/* steps  style start */
.steps__container{
    margin-top: 67px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.steps__title{
    max-width: 611px;
}
h2{
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
}

.frame__list{
    /* padding-left: 130px; */
    width: 100%;
    /* margin-top: 38px; */
    display: flex;
   


}

.frame__item{
    display: flex;
    flex-direction: column;
    height: 154px;
    left: 0px;
    top: 0px;
    align-items: center;
    justify-content: center;
    flex-basis: auto;
}

.frame__item:nth-child(2) {
    /* margin-left: 233px; */
}


.frame__item:nth-child(3) {
    /* margin-left: 162px; */
}


.frame__item img{
    width: 100px;
}

.steps__subtitle{
    /* margin-top: 30px; */
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
}
/* steps  style end */

/* destinations  style start */

.destinations__container{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.destinations__container{
    /* margin-top: 97px; */
}



.slider__item{

    /* display: none;
   min-width: 800px;
   min-height: 800px;
   align-items: flex-end; */
}

/* .item_1 {
    min-width: 180px;
    background: url(../image/destinations_spain_1.jpg) no-repeat;
}

.item_1 p{
    display: none;
}

.item_2 {
    background: url(../image/destinations_japan.jpg);
}

.item_3 {
    min-width: 340px;
    background: url(../image/destinations_usa_1.jpg) no-repeat;
} */

.slider{
    /* margin-top: 58px; */
    max-width: 1440px;
    display: flex;
    gap: 60px;
    overflow: hidden;
}

.slick-list{
    overflow: hidden;
}

.slick-track{
    display: flex;
    /* margin-top: 58px; */
}

.slider_text{
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    color: #FFFFFF;
    /* margin-left: 15px; */
    /* margin-bottom: 40px; */
}

.dots{
    /* margin-top: 12px ; */
    display: flex;
    width: 80px;
    height: 20px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.dots_item{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    
    background: rgba(242, 120, 92, 0.5);;
}

.dots_item:nth-last-child(2){
    background: #F2785C;

}

.btn_destinations{
    margin-top: 40px;
    display: flex;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF  ;
    width: 228px;
    height: 59px;
    left: 607px;
    top: 2172px;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
}
.btn_destinations img{
    margin-top: 9.5px;
    padding-left: 31px;
}

.btn_destinations p{
    margin-top: 13.5px;
    padding-left: 10px;

}
/* destinations  style end */


/* STORIES  style start */

.stories__container{
    /* margin-top: 80px; */
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stories__list{
    margin-top: 50px;
   
}

.stories{
    background: url(../image/bg_stories.png) no-repeat center;
    background-position-y: 107px;

}

.stories__item{
    display: flex;
   
    margin-top: 28px;
    
}

.item__pick img{
    filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 16px;
}

.item__text{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    
}

.text__titile{
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;   
    color: #0D606F;
}

.text__subtitle{
    margin-top: 24px;
    max-width: 760px;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;  
    color: #0D606F;

}

.text_more{
    text-decoration: none;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #0D606F;
}
.btn__stories{
    margin-top: 20px;
    margin-bottom: 62px;
}
/* STORIES  style end */


/* Footer  style start */

footer{
    background: url(/image/bg_stories.png) no-repeat center;
    background-position-y: -1274px;
}

.footer__list{
    margin-left: 590px;
    max-width: 720px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__text p{
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
}
.footer__contacts{
    display: flex;
    gap: 20px;
}

/* Footer  style end */
